@use './partials/mixins' as *;
@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    min-width: 800px;
}

ul {
    list-style: none;
}

nav ul li{
    text-transform: uppercase;
    margin-right: 1rem;
    font-size: 0.9rem;
}

.flex{
    display: flex;
}

.margin-right{
    margin-right: 2rem;
}

.margin-top{
    margin-top: 1.2rem;
}


///////////////////////////

header{
    display: flex;
    justify-content: center;

    div.header-section{
        width: 1200px;
        height: 100px;
        @include centering(space-between, center);

        div.header-section img{
            width: 75px;
            height: 75px;
        }

        nav{
            height: 100%;
        }
        
        nav ul{
            display: flex;
            height: 100%;
            align-items: center;
        }
        
        ul li{
            height: 100%;
            align-items: center;
            display: flex;
            border-bottom: 3px solid white;
            cursor:pointer;
        }
        
        nav ul li.active{
            color: $lightblue;
            border-bottom: 3px solid $lightblue;
        
        }
        
        
        li:active{
            color: $lightblue;
            border-bottom: 3px solid $lightblue;
            }
    }
}

////////////////////////////////////

main{
    background-color: $darkBg;
    position: relative;

    div.jumbotron{
        background-image: url('../img/jumbotron.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 430px;
    }

    div.main-content{
        display: flex;
        justify-content: center;
        padding: 3rem 0;

        section.main-section{
            width: 1200px;
            background-color: $darkBg;
        }
        
        div.card-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            article{
                width: calc(100% / 6);

                img{
                    width: 170px;
                    height: 170px;
                    margin-top: 1rem;
                    border-radius: 0;
                    border: none;
                }
            
                div.card-container h3{
                    padding-top: .8rem;
                    color: $whiteText;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: .8rem;
                }
            }
        }
    }

    div.load-btn{
        justify-content: center;
        display: flex;
        color: $whiteText;
        padding-bottom: 2rem;

        div p.load-more{
            background-color: $lightblue;
            padding: 1rem 3rem;
            font-weight: bold;
        }
    }

    h2{
        position: absolute;
        left: 8%;
        bottom: 57%;
        color: $whiteText;
        font-size: 1.6rem;
        background-color: $lightblue;
        padding: .8rem 1rem;
    }
}


/////////////////////////////////7

section{
    display: flex;
    background-color:$lightblue;
    display: flex;
    @include centering(center, center);
    color: $whiteText;
    font-size: .9rem;

    div.main-section{
        width: 1200px;
        display: flex;
        justify-content: space-around;
        padding: 3rem 0;

        div.item-container img{
            width: 1200px;
            width: 42px;
            height: 50px;
        }
        
        div.item-container p{
            align-items: center;
            display: flex;
            margin-left: 1rem;
        }
    }
}



//////////////////////////////////////////////


footer{
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .upper-side{
        display: flex;
        justify-content: center;
        color: $whiteText;

        div.upper-footer{
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div.list-item{
                display: flex;
                padding: 3rem 0;

                div h3{
                    padding-bottom: 1rem;
                }

                ul.list {
                    padding-left: 0;

                    li{
                        margin-bottom: .3rem;
                        font-size: .9rem;
                        color: $darkText;
                    }
                }
            }
        }

        div.logo-item{
            height: 100%;
            width: 563px;
            background-image: url('../img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: center;
        }

        div.lower-side{
            display: flex;
            justify-content: center;
            background-color: $greyBG;
            padding: 2.6rem;

            div .lower-footer{
                width: 1200px;
                @include centering(space-between, center);
                display: flex;
                color: $whiteText;

                div .sign-up{
                    padding: 1rem;
                    border: 2px solid $lightblue;
                }

                .social-side{
                    width: 40%;
                    justify-content: space-between;

                    h2.follow{
                        color: $lightblue;
                        align-items: center;
                        display: flex;
                    }

                    div .social-icon{
                        width: 55%;
                        justify-content: space-around;
                        display: flex;
                    }
                    
                }
            }
        }


    }
}

////////////////////ADMIN-COMICS-INDEX////////////////////
/// 

#comic_img{
    height: 200px;
    width: 200px;
}


a{
    text-decoration: none;
}